body
{
	font-family: 'Josefin Slab', serif;
	/* Background pattern from Subtle Patterns */
	background-image: url("img/escheresque.png");
	
	margin:0;
}

header
{
	text-align: center;
	background-color:#95b3d7;
	margin-left:auto;
	margin-right:auto;
	padding:8px;
	
}

#container
{
	text-align:center;
	padding:5%;
	


}

#scan
{
	
	font-size:30px;
	border-radius: 48px 48px 48px 48px;
-moz-border-radius: 48px 48px 48px 48px;
-webkit-border-radius: 48px 48px 48px 48px;
border: 0px solid #000000;
	background-color:white;
	padding:20px;
	display:inline-block;

	
	

}

#or
{
	display:inline-block;
	font-size:40px;
	border-radius: 48px 48px 48px 48px;
-moz-border-radius: 48px 48px 48px 48px;
-webkit-border-radius: 48px 48px 48px 48px;
border: 0px solid #000000;
	background-color:white;
	padding:20px;
	margin-left:6%;
	margin-right:6%;
	overflow: hidden;
	
	
	
	
}

#enter
{
	display:inline-block;
		border-radius: 48px 48px 48px 48px;
-moz-border-radius: 48px 48px 48px 48px;
-webkit-border-radius: 48px 48px 48px 48px;
border: 0px solid #000000;
	background-color:white;
	padding:20px;
	overflow: hidden;
	
}

input[type=text]
{
	font-family: 'Josefin Slab', serif;
	width:300px;
	background-color:#efefef;
	color:#666;
	border: 2px solid #ddd;
	border-radius: 15px;
	font-size:30px;
	padding:10px;
	box-sizing:border-box; /* rowna dlugosc */
	outline:none;
	margin-top:10px;
	text-align:center;

	
}
input[type=submit]
{
	font-family: 'Josefin Slab', serif;
	width:300px;
	background-color:#36b03c;
	font-size:20px;
	color:white;
	padding:15px 10px;
	margin-top:20px;
	border:none;
	border-radius:5px;
	cursor: pointer;
	letter-spacing:2px;
	outline:none;
}




footer
{
	background-color:#607cbd;
	
	padding-top:30px;
	margin-left:auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 10px;
	letter-spacing: 2px;
	font-size: 10px;
	color: #ddd;
	
}